# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Python / Backend
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/media/

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
